*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    img{
        padding: 15px 0;
    }
    a{
        padding: 20px 0;
        text-decoration: none;
        color: black;
    }
    a:hover{
        border-bottom: black 1px solid;
    }
    button{
        background-color: blue;
        padding: 5px 10px;
        color: white;
        border-color: white;
        margin-top: 15px;
    }
}
#rightheader, #leftheader{
    display: flex;
    justify-content: space-around;
}

#leftnav{
    width: 400px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}
#rightnav{
    width: 400px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
}
/*End Header*/

#jumbo{
    background-color: aquamarine;
    height: 600px;
}
#container-lg{
    
    padding: 30px 23%;
    h1{
        font-size: 70px;
    }
}
#jumboimg{
    
    width: 800px;
    right: 0;
}
#jumboflex{
    padding-left: 23%;
    div{
        font-size: 15px;
        width: 300px;
        
        
    }
    display: flex;
    button{
        color: white;
        padding: 10px;
        margin-top: 40px;
        background-color: blue;
    }
    #annulla{
        padding-top: 30px;
    }
    #downarrow{
        font-size: 50px;
        margin-top: 80px;
    }
}
/*End jumbo*/

#plan{
    .container-sm{
        padding: 150px 30%;
        #fattura{
            padding-top: 50px;
        }
        span{
            padding-right: 40px; 
        }
        #columns{
            display: flex;
            div{
                width: calc(100%/3);

            }
        }
    }
}
.textalign{
    display: flex;
    padding: 40px 80px;
}

.column-main{
    padding-left: 5px;
    div{
        padding-top: 10px;
    }
}
