*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:root{
    --jumbocolor: #b4d0e7;
    --bluebuttons: #0061ff;
    --lightgreen: #d1e9cd;
    --green: #a2d39b;
    --floridablu: #0093ce;
    --asubrown: #61082b;
    --hearstblu: #b4d0e7;
}


header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 0 2%;
    img{
        padding: 15px 0;
    }
    a{
        padding: 20px 0;
        text-decoration: none;
        color: black;
    }
    a:hover{
        border-bottom: black 1px solid;
    }
    button{
        background-color: var(--bluebuttons);
        padding: 5px 10px;
        color: white;
        border-color: white;
        margin-top: 15px;
    }
}

#rightheader, #leftheader{
    display: flex;
    justify-content: space-around;
}

#leftnav{
    width: 400px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
}
#rightnav{
    width: 400px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
}
/*End Header*/
#jumbo{
    background-color: aquamarine;
    height: 650px;
    margin-bottom: 200px;
    padding-top: 100px;
    .disflex{
        padding: 1px 15%;
    }
}
#container-lg{
    
    h1{
        font-size: 500%;
        
        padding: 0 15%;
    }
}
#jumboimg{
    
    width: 750px;
    right: 0;
}
#jumboflex{
    div{
        font-size: 15px;
        width: 300px;
        
        
    }
    display: flex;
    button{
        color: white;
        padding: 10px;
        margin-top: 40px;
        background-color: var(--bluebuttons);
    }
    #annulla{
        padding-top: 30px;
    }
    #downarrow{
        font-size: 50px;
        margin-top: 80px;
    }
}
/*End jumbo*/

#plan{
    
    padding: 0 20%;
    .container-sm{
        #fattura{
            padding-top: 50px;
        }
        span{
            padding-right: 40px; 
        }
        #columns{
            display: flex;
            justify-content: space-between;
        }
        .col-4{
            width: 300px;
            
        }
    }
    .textalign{
        padding: 40px 80px;
        text-align: center;
    }
}

.column-main{
    padding: 20px;
    height: 900px;
    border: 1px rgb(212, 212, 212) solid;
    ul{
        list-style: none;
        li{
            padding-top: 20px;
        }
    }
    div{
        padding-top: 10px;
    }
    .color-gray{
        color: gray;
    }
    .users{
        padding-top: 80px;
        
    }
    button{
        background-color: var(--bluebuttons);
        padding: 10px 55px;
        color: white;
        margin-top: 80px;
        margin-bottom: 20px;
        
        
    }
    .contactus{
        padding: 10px 100px;
    }
    h4{
        padding-top: 80px;
        padding-top: 20px;
    }
    li{
        display: flex;
        div{
            i{
                color: var(--bluebuttons);
            }
        }
    }
    i{
        padding-right: 10px;
    }
    
        
    
}

/*end plan*/
#team{
    .container-sm{
        padding: 100px 20% 0 20%;
    }

    
    .textalign{
        text-align: center;
        padding-bottom: 30px;
    }
    .enterprise{
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }
    button{
        margin: 10px 0;
        padding: 10px 40px;
        background-color: var(--bluebuttons);
        color: white;
    }
    h2{
        padding-bottom: 20px;
    }
    .color-gray{
        color: black;
        padding: 60px 30% 100px 20px;
    }
}
/*end team*/

#partner{
    
    img{
        width: 60%;
        height: auto;
    }
    #findpartner{
        display: flex;
        justify-content: space-between;
    }
    h2+div{
        padding: 10px 40px;
    }
    h2{
        padding: 40px 40px 10px 40px;
    }
    button{
        margin: 10px 40px;
        padding: 10px 15px;
    }
    .container-sm{
        padding: 100px 20%;
    }

}
/*end partner*/

#cards{
    .container-sm{
        padding: 0 20%;
    }
    
    h1{
        font-size: 40px;
        padding: 50px 0;
    }
    .linecard{
        width: 100%;
        display: flex;
        justify-content: space-between;
        div{
            
            
        }
        img{
            width: 100%;
        };
        h2{
            padding-bottom: 30px;
        }
    }
}

#card1>div>div, #card2>div>div, #card3>div>div, #card4>div>div, #card5>div>div, #card6>div>div{
    padding: 10px 50px 30px 0;
}
/*end cards*/

#business{
    padding: 0 20%;
    .container-sm{
        h1{
            
            font-size: 40px;
            padding: 70px 0;
        }
        a{
            color: var(--bluebuttons);
            padding-bottom: 100px;
        }
    }
}
#teamsimg{
    padding-top: 150px;
    .disflex{
        width: 100%;
        aspect-ratio: 3/1;
        display: flex;
        justify-content: space-between;
    }
    
}
#square1, #square2, #square3{
    width: calc(100%/3);
    aspect-ratio: 1/1;
}
#square1-line1, #square1-line2, #square3-line1, #square3-line2{
    display: flex;
    div{
        width: 50%;
        aspect-ratio: 1/1;
        img{
            width: 60%;
           
        }
    }
}
#designit-green{
    background-color: var(--green);
    border: var(--lightgreen) solid 20px;
}
#asu{
    background-color: var(--asubrown);
}
#uf{
    background-color: var(--floridablu);
    display: flex;
    align-items: center;
    img{
        width: 165px;
        height: 12%;
    }
}
#topps{
    background-color: red;
}
#wbr{
    background-color: red;
}
#hearst{
    background-color: var(--hearstblu);
}
#lonelyplanet{
    background-color: darkblue;
}
#clearchannel{
    background-color: yellow;
}
#designit-green, #asu,#uf, #topps, #wbr, #lonelyplanet, #clearchannel, #hearst{
    display: flex;
    align-content: center;
    justify-content: center;    
}

#square2{
    padding: 40px 30px;
    div{
        padding: 100px 0 50px 0;
        
    }
    img{
        width: 100%;
    }
    span{
        padding: 10px;
    }
}
/*End teamimg*/
#teamtrial{
    background-color: var(--jumbocolor);
    padding: 100px 20% 0 20%;
    margin-bottom: 50px;
    .container-sm{
        display: flex;
        justify-content: space-between;
        h1{
            
            font-size: 40px;
            margin-bottom: 100px;
            color: var(--asubrown);
        }
        button{
            margin-bottom: 150px;
            padding: 5px 50px;
            border: none;
            
        }
    }
}
/*End teamtrial*/

#question{
    .container-sm{
        padding: 0 20%;
        h1{
            
            font-size: 40px;
            padding: 50px 0 70px 0;
        }
        div{
            padding: 30px 0;
            
        }
       .arrowdown, .arrowup{
        padding: 0;
        
       }
    
    }
    
}
.arrow-container{
    display: flex;
    justify-content: space-between;
}
.ulhover{
    display: none;
    padding: 30px 0 0 0;
    list-style: none;
}
.arrowup{
    display: none;
}
.divhover:hover{
    .ulhover{
        display: block;
    }
    .arrowdown{
        display: none;
    }
    .arrowup{
        display: block;
    }
}
/*end question*/
/*end main*/
footer{
    background-color: black;
    height: 430px;
}
#lastfoot{
    
    color: white;
    
    padding: 100px 0 50px 0;
    margin-top: 150px;
    
    .container-lg{
        display: flex;
        .footcolumns{
            width: 100%;
        }
    }
    h2{
        padding-bottom: 25px;
    }
    li{
        padding-bottom: 15px;
        list-style: none;
    }
    a{
        color: white;
        text-decoration: none;
        
    }
    
}

.container-lg{
    padding: 0 15%;
    span{
        color: gray;
        border-top: 1px solid gray;
        padding: 30px 0;
    }
}




